<!DOCTYPE html>
<html>
  <head>
    <title>Crisis Tracker</title>
    <meta charset=utf-8 />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar-fixed">
   <nav>
     <div class="nav-wrapper">
       <div class="container">
         <a href="#!" class="brand-logo">Crisis Tracker</a>
         <ul class="right">
           <% if current_user %>
             <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
           <% else %>
             <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
           <% end %>
         </ul>
       </div>
      </div>
   </nav>
 </div>
    <div>

    </div>
    <div>
    <%= yield %>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
